/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f2f2f2;
}

/* ===== LAYOUT ===== */
.layout {
  display: flex;
  min-height: 100vh;
}

/* ===== IZQUIERDA ===== */
.login {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  position: relative;
}

/* LOGO ARRIBA */
.login-header {
  position: absolute;
  top: 30px;
  left: 40px;
}

.login-header img {
  width: 80px;
}

/* CONTENIDO */
.login-box {
  width: 100%;
  max-width: 350px;
}

/* TÍTULO */
h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

/* LABEL */
label {
  font-size: 14px;
  color: #666;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px;
  border-radius: 25px;
  border: none;
  background: #ddd;
  outline: none;
}

/* PASSWORD */
.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
}

.eye {
  position: absolute;
  right: 15px;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.eye img {
  width: 18px;
  opacity: 0.7;
}

.eye:hover img {
  opacity: 1;
}

/* FORGOT */
.forgot {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  color: #666;
  text-decoration: none;
}

/* BOTONES */
.actions {
  display: flex;
  gap: 10px;
}

.btn-login {
  flex: 1;
  background: linear-gradient(45deg, #6a00ff, #ff3c00);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(106, 0, 255, 0.4);
}

.btn-register {
  flex: 1;
  background: #ccc;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
}

/* ===== DERECHA ===== */
.visual {
  width: 55%;
  position: relative;
  overflow: hidden;
}

/* IMAGEN DIAGONAL */
.bg-diagonal {
  position: absolute;
  height: 150%;
  right: -250px;
  top: -120px;
  transform: rotate(-20deg);
}

/* CÍRCULO */
.circle {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 340px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }

  .visual {
    display: none;
  }

  .login {
    width: 100%;
    padding: 40px;
    align-items: center;
  }

  .login-box {
    width: 100%;
    max-width: 350px;
  }
}