<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Arevalo & CIA</title>
  <link rel="stylesheet" href="/style/styleindex.css">
  <!-- ESCUDO DE SEGURIDAD GLOBAL ANTI-CRACKERS Y ENCRIPTACIÓN -->
  <script src="/public/security-bundle.js"></script>
</head>

<body>

  <main>
    <section class="card">

      <header>
        <figure>
          <img src="/public/img/LogoApp.png" alt="Logo Arevalo y CIA">
        </figure>
      </header>

      <article>
        <h1>Bienvenido</h1>
        <p>Accede al sistema inmobiliario</p>
      </article>

      <nav>
        <button onclick="irLogin()">INGRESAR</button>
      </nav>

    </section>
  </main>

  <script>
    function irLogin() {
      window.location.href = "login.html";
    }
  </script>

</body>
</html>